@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

body {
	text-align: center;
}

h1 {
	font-size: 50px;
	text-transform: uppercase;
	color: #434CBF;
	margin-bottom: 25px;
	font-family: "Luckiest Guy";
	letter-spacing: 2px;
	display: block;
}

h3 {
	color: white;
 	font-size: 25px;
  	margin-top: 65px;
  	margin-right: -50px;
  	font-family: "Luckiest Guy";
	font-weight: 100;
	letter-spacing: 2px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #434CBF;
}

p {
	color: black;
}

.square {
	display: inline;
	padding: 27px;
	color: #347F33;
	font-weight: 500;
	font-style: italic;
	background-color: white;
}

.circle {
  	border-radius: 50%;
	display: inline;
	padding: 27px;
	color: #434CBF;
	font-weight: 500;
	font-style: italic;
	background-color: white;
}

#slogan {
	font-size: 25px;
	color: #347F33;
	font-family: "indie flower";
}

#services { 
	font-size: 25px;
	margin-top: 50px;
	font-family: Rancho;
}



#contact {
	font-size: 25px;
	list-style-type: none;
	margin-top: 75px;
	font-family: Rancho;
}


  





