@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Nixie+One);

body {
	text-align: center;
	background: url("https://farm5.staticflickr.com/4294/35776806731_9411afb983_o.jpg") no-repeat center center fixed;
	background-size: 100%;
	background-size: cover;
}

h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: #434CBF;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	clear: both;
}

ul {
	list-style-type: none;
}

a:link {
	text-decoration: none;
	color: #434CBF;
}

a:visited{
	color:#434CBF;
}

a:hover {
	color: white;
}

a.green:link {
	color: #347F33;
}

a.green:visited{
	color: #347F33;
}

a.green:hover{
	color: black;
}

a:hover {
	color: white;
}

i {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}

.wrapper{
	overflow-x: hidden;
}
.square {
	display: inline;
	padding: 2%;
	background-color: white;
	width: 5%;
}

.logo {
	width: 7.5%;
	border-radius: 50%;
	border: 2px black solid;
	margin-bottom: -5%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#camera {
	float: left;
	text-align: left;
	width: 1000px;
}

#socialmedia {
	float: right;
	margin-top: 1.5%;	
	margin-right: 1%;
}

#slogan {
	font-size: 1.6em;
	color: #347F33;
	font-family: 'Nixie One', cursive;
	margin-top: -2%;
	font-weight: 800;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 5%;
}

#left {
    float: left;
	width: 40%;
}

#right {
	margin-left: -5%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	color: white;
	letter-spacing: 4px;
	text-align:center;
	float: right;   
	padding: 5%;
	width: 40%;
	font-weight: 500;
}

#services { 
	font-size: 1.25em;
	margin-top: 5%;
	font-family: 'Nixie One', cursive;
	color: #347F33;
	font-weight: 800;
	font-style: italic;
	text-decoration: none;
	clear: both;
}

#contact {
	font-size: 1.2em;
	font-family: 'Nixie One', cursive;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 3%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#copyright {
	text-align: center;
	font-size: 1em;
	list-style-type: none;
	font-family: 'Nixie One', cursive;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}  

#slideshow {
	width: 100%;
	text-align:center;
	margin: auto;
}

@media only screen and (max-width: 1148px) {
	#socialmedia {
		margin-top: -.75%;
	}
}

@media only screen and (max-width: 764px) {
	#left {
		width: 100%;
		float: none;
	}
	#right {
		float: none;
		clear: both;
		margin: -5% auto;
		width: 75%;
	}
}

@media only screen and (max-width: 529px) {
	#services {
		margin-left: -8%;
	}
}

@media only screen and (max-width: 491px) {
	.square {
		display: block;
		padding: 2%;
		background-color: white;
		width: 72%;
		margin: 0 8%;
	}
	.right {
		width: 50%;
		margin: 0 .25%;
	}
}

@media only screen and (min-width: 414px) and (max-width: 736px) {
	.square {
		display: block;
		padding: 2%;
		background-color: white;
		width: 72%;
		margin: 0 8%;
	}
	.right {
		width: 50%;
		margin: 0 auto;
	}
}


@media only screen and (max-width: 310px){
	h1 {
		letter-spacing: 0px;
}
