@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

body {
	text-align: center;
	background: url("https://farm5.staticflickr.com/4294/35776806731_9411afb983_o.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
	
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-size: 50px;
	text-transform: uppercase;
	color: #434CBF;
	font-family: "Luckiest Guy";
	letter-spacing: 2px;
	padding-top: 25px;
}

h3 {
	color: black;
 	font-size: 25px;
  	font-family: "Luckiest Guy";
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #434CBF;
}

i {
	margin-top:-15px;
}

.square {
	display: inline;
	padding: 28px;
	background-color: white;
}

.green {
	color: #347F33;
}

.logo {
	width:7%;
	height:7%;
	border-radius: 50%;
	border: 2px black solid;
	text-align: left;
	margin-bottom: -35px;
}

#slogan {
	font-size: 25px;
	color: #347F33;
	font-family: "indie flower";
}

#services { 
	font-size: 25px;
	margin-top: 50px;
	font-family: Rancho;
	color: #347F33;
	font-weight: 500;
	font-style: italic;
	text-decoration: none;
}

#about {
	display:block;
	margin: 60px auto;
	font-family:"Luckiest Guy";
	font-size: 25px;
	color: white;
	letter-spacing: 2px;
	width: 800px;
	text-align:center;
}

#contact {
	font-size: 35px;
	font-family: Rancho;
	text-align: center;
	letter-spacing: 1px;
	margin-top: -35px;
}

#copyright {
	text-align: center;
	font-size: 25px;
	list-style-type: none;
	font-family: Rancho;
	text-family:"Luckiest Guy";
	color: white;
}  

#slideshow {
	width: 400px;
	height:400px;
	text-align:center;
	margin: auto;
	
}




