body {
background: url("https://farm5.staticflickr.com/4294/35776806731_9411afb983_o.jpg");
background-repeat: no-repeat;
background-size: cover;
background-size: 105%;
overflow: hidden;
}

.container {
	text-align: center;
}

h1 {
	font-size: 50px;
	text-transform: uppercase;
	color: #434CBF;
	margin-bottom: 50px;
}

#slogan {
	font-size: 25px;
	color: #347F33;
	
}

h3 {
color: #000;
  font-size: 20px;
  margin-top: 65px;
  margin-right: -50px
}

#services { 
	font-size: 25px;
	list-style-type: none;
	margin-top: 100px;
}


#contact{
	font-size: 25px;
	list-style-type: none;
	margin-top: 75px;
  
 }

.circle {
  border-radius: 50%;
	display: inline;
	padding: 27px;
	color: #000;
	font-weight: 500;
	font-style: italic;
	background-color: white;
 }
  
.square {
	display: inline;
	padding: 27px;
	color: #000;
	font-weight: 500;
	font-style: italic;
	background-color: white;

}

a {
	text-decoration: none;
}